.detail_page {
  margin: 0;
  background-color: #F9F0D6;
}

.navbar {
  width: 100%;
  background-color: #9E8F72;
  box-shadow: 0px 2px 5px 2px gray;
}

.post {
  background-color: #9E8F72;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 50px auto auto auto;
  width: 40%;
  min-width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}

.post>.detail_title {
  padding: 11px;
  margin-top: 5%;
  width: 60%;
  height: 10%;
  background-color: #D4BF8A;
  text-align: center;
  border-radius: 10px;
}

.post>.detail_image>img {
  margin-top: 3%;
  background-color: teal;
  background-size: cover;
  background-position: center;
  min-width: 400px;
  width: 400px;
  height: 300px;
}

.post>.detail_bestbread {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 50%;
  height: 150px;
  border-radius: 10px;
  background-color: #D4BF8A;

}

.UDbutton {
  margin-left: 80%;
  display: inline-block;

}

.detail_contents {
  background-color: #D4BF8A;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 10px auto;
  width: 60%;
  height: 300px;
  border-radius: 10px;
  padding-top: 3%;
}

.detail_map {
  background-color: #D4BF8A;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 10px auto;
  width: 60%;
  height: 300px;
  border-radius: 10px;
}